<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no" />
<title>ClassManage</title>

<link href="../../css/common/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../../css/common/AccountLoginPage.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/common/common.js"></script>

</head>
<body>
	<div class="GreyPanel"></div>
	<!-- cxcxzczx -->
	<div class="ClassManage">课堂管理系统</div>
	<div class="LoginWayOne">
		<a href="home.html">账号密码登录</a>
	</div>
	<div class="LoginWayTwo">
		<a href="/wechatScan">微信登录</a>
	</div>
	<div class="UserName">用户名</div>
	<input type="text" class="UserNameField"></input>
	<div class="Password">密码</div>
	<input type="password" class="PasswordField"></input>
	<button class="Login">登录</button>
	<div class="Enroll">
		<a href="/register">注册</a>
	</div>
</body>
</html>