<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>
    <title>ClassManage</title>
<script type="text/javascript" src="../../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/common/common.js"></script>
    <link href="../../css/common/WechatLoginPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="GreyPanel"></div>
<div class="ClassManage">课堂管理系统</div>
<div class="LoginWayOne"> <a href="/">账号密码登录</a></div>
<div class="LoginWayTwo"> <a href="/wechatScan">微信登录</a></div>
<div class="WechatText">使用微信扫一扫</div>
<Identity>
<input id="man" type="radio" checked="checked" name="1" />老师<input id="woman" type="radio"  name="1"/>学生
</Identity>
<img src="../../Img/qrcode.png" class="QRCode"/>
</body>
</html>