<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/css/content.css" />
		<script src="/js/common/logout.js"></script>
	</head>

	<body>
		<div style="width: 100%; height: 100%;">
			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：顶部标题栏
            -->
			<div class="top">
				<h1>课堂管理系统
					   <div class="icon">
            <img src="/Img/home.png"><a href="/student/home">首页</a> <img
                src="/Img/help.png"><a>帮助</a> <img src="/Img/exit.png"><a
                href="#" onclick="logout();">退出</a>
        </div>
				</h1>
			</div>
			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：主窗体
           -->
			<div class="body">
				<!--
                	作者：Mr_Jackey@aliyun.com
                	时间：2017-11-22
                	描述：左侧导航
                -->
				<div class="navigation">
					<h2 class="courseName"></h2>
					<div class="line"></div>
					<div class="courseIntroduction">

						<p>
						</p>
					</div>

				</div>
				<!--
                	作者：Mr_Jackey@aliyun.com
                	时间：2017-11-22
                	描述：右侧主体部分
                -->

				<div class="content" id="seminar">

					<div class="checkInfo" id="course_class">
						<h2 class="title">讨论课 <a href=""><button class="main_box_right_btn">返回上一页</button></a></h2>
						<hr class="line" />
						<div class="blockBody">
							
								<a href="" class="block"><div class="blockFont">讨论课1</div></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
							
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
							
						</div>
					</div>

					<div class="checkInfo" id="course_group">
						<div class="title">课程分组 </div>
						<hr class="line" />
						<div class="blockBody">
							<div>
								<a href="" class="block"><label class="blockFont">固定分组</label></a>

							</div>
						</div>

					</div>
				</div>

			</div>

			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：底部栏
            -->
			<div class="footer">
				<p>@copyright CodingJackey</p>
			</div>

		</div>
	</body>

</html>