<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../css/content.css" />
	</head>

	<body>
		<div style="width: 100%; height: 100%;">
			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：顶部标题栏
            -->
			<div class="top">
				<h1>课堂管理系统
					<a href=""><img src="../../img/exit.png" />退出</a>
					<a href="" ><img src="../../img/help.png" />帮助</a>
					<a href="" ><img src="../../img/home.png" />首页 </a>
				</h1>
			</div>
			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：主窗体
           -->
			<div class="body">
				<!--
                	作者：Mr_Jackey@aliyun.com
                	时间：2017-11-22
                	描述：左侧导航
                -->
				<div class="navigation">
					<h2 class="courseName">OOAD</h2>
					<div class="line"></div>
					<div class="courseIntroduction">

						<p>
							OOAD（Object Oriented Analysis Design，面向对象的分析和设计， 面向对象分析与设计）是现代软件企业广为采用的一项有效技术。OOAD方 法要求在设计中要映射现实世界中指定问题域中的对象和实体，例如：顾客、汽车 和销售人员等。这就需要设计要尽可能地接近现实世界，即以最自然的方式表述实体。 所以面向对象技术的优点即为能够构建与现实世界相对应的问题模型，并保持他们的 构、关系和行为为模式。
						</p>
					</div>

				</div>
				<!--
                	作者：Mr_Jackey@aliyun.com
                	时间：2017-11-22
                	描述：右侧主体部分
                -->

				<div class="content" id="seminar">

					<div class="checkInfo" id="course_class">
						<h2 class="title">讨论课 <a href=""><button class="main_box_right_btn">返回上一页</button></a></h2>
						<hr class="line" />
						<div class="blockBody">
							
								<a href="" class="block"><div class="blockFont">讨论课1</div></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
							
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
								<a href="" class="block"><label class="blockFont">讨论课1</label></a>
							
						</div>
					</div>

					<div class="checkInfo" id="course_group">
						<div class="title">课程分组 </div>
						<hr class="line" />
						<div class="blockBody">
							<div>
								<a href="" class="block"><label class="blockFont">固定分组</label></a>

							</div>
						</div>

					</div>
				</div>

			</div>

			<!--
            	作者：Mr_Jackey@aliyun.com
            	时间：2017-11-22
            	描述：底部栏
            -->
			<div class="footer">
				<p>@copyright CodingJackey</p>
			</div>

		</div>
	</body>

</html>