<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="/css/student/StudentCourseHomePage.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="return classinfo();">
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
                <img src="/Img/home.png"><a href="/student/home">首页</a>
                <img src="/Img/help.png"><a>帮助</a>
                <img src="/Img/exit.png"><a href="#" onclick="logout();">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                <div class="courseIntroduction"><a class="guidefont" href="/student/personInfo">基本信息</a>
                    <a class="guidefont" href="/student/courses">课程信息</a>
                    <a class="guidefont" href="/student/course/select">选择课程</a>
                </div>
                </div>
            <div class="content" id="classcontent">
              <div class="title">课程信息</div>
              <hr class="line"/>

        
            </div>
            
           
            <div class="clear"></div>
        </div>
    <!-- jquery.js-->
    <script src ="/js/jquery-1.12.4.min.js"></script>
    <!-- student.js -->
    <script src ="/js/student/student_home.js"></script>
        <!--jwt.js-->
        <script src="/js/common/jwt.js"></script>
        	<script src="/js/common/logout.js"></script>
</body>
</html>
