<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<title>教师课程内页</title>
<script src="/js/jquery-1.12.4.min.js"></script>
<script>
	/* function getAllClassTest() {
		$
				.ajax({
					url : "/class"
					dataType : "json",
					type : "get",
					contentType : "application/json;charset=utf-8",
					dataType : "json",
					data:{courseName:"课程1",courseTeacher:"邱明"},
					success : function(data) {
						document.getElementById("show").innerHTML=data;
					}

				});
	} */
	function getClass() {
		var token = window.localStorage.getItem("jwt");
        $.ajax({
            url: "/class/1",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: "get",
            headers : {
                "Authorization" : token
            },
            success: function(data) {
                
            }
        });
    }
	function updateClassTest() {
		$.ajax({
	        url: "/class/1",
	        dataType: "json",
	        contentType: "application/json;charset=utf-8",
	        type: "put",
	        data:  JSON.stringify({
	        	"name": "周三1-2节",
	        	  "numStudent": 120,
	        	  "time": "周三12节 周一34节",
	        	  "site": "海韵201，公寓405",
	        	  "calling": -1,
	        	  "roster": "/roster/周三12班.xlsx",
	        	  "proportions": {
	        	    "report": 50,
	        	    "presentation": 50,
	        	    "c": 20,
	        	    "b": 60,
	        	    "a": 20
	                }
	            })
	        ,
	        success: function(data) {
	            alert("修改成功");
	        }
	    });
    }
	function deleteClass() {
        $.ajax({
            url: "/class/1",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: "delete",
     
            success: function(data) {
                alert("删除成功");
            }
        });
    }
	
	function deleteSelectClass() {
        $.ajax({
            url: "/class/2/student/31",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: "delete",
     
            success: function(data) {
                alert("删除成功");
            }
        });
    }
</script>
</head>

<body>
	<!-- <button onclick="getAllClassTest()">getAllClassTest</button> -->
    <br>
    <button onclick="getClass()">getClass</button>
    <br>
	<button onclick="updateClassTest()">updateClassTest</button>

    <br>
    <button onclick="deleteClass()">deleteClass</button>
    
    <br>
    <button onclick="deleteSelectClass()">deleteSelectClass</button>
    
    
	<p id="show"></p>
</body>

</html>