<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.LoginMapper">
	<resultMap id="UserResultMap" type="xmu.crms.entity.User">
		<id property="id" column="id" javaType="java.math.BigInteger" />
		<result property="phone" column="phone" javaType="java.lang.String" />
		<result property="wechatId" column="wechat_id" javaType="java.lang.String" />
		<result property="openid" column="openid" javaType="java.lang.String" />
		<result property="avatar" column="avatar" javaType="java.lang.String" />
		<result property="password" column="password" javaType="java.lang.String" />
		<result property="name" column="name" javaType="java.lang.String" />
		<result property="gender" column="gender" javaType="int" />
		<result property="type" column="type" javaType="int" />
		<result property="number" column="number" javaType="java.lang.String" />
		<result property="education" column="education" javaType="int" />
		<result property="title" column="title" javaType="int" />
		<result property="email" column="email" javaType="java.lang.String" />
		<association property="school" column="school_id"
			javaType="xmu.crms.entity.School" select="getSchoolById">
		</association>
	</resultMap>

	<select id="getSchoolById" parameterType="java.math.BigInteger"
		resultType="xmu.crms.entity.School">
		select id, `name`, province, city from school where
		id=#{id}
	</select>

	<!-- 插入成功返回userid -->
	<insert id="signUpWeChat" parameterType="xmu.crms.entity.User">
		insert into user_info(phone,
		password)
		values (#{phone}, #{password})
		<selectKey resultType="java.lang.Integer" keyProperty="user_info.id" order="AFTER">
          select last_insert_id()
        </selectKey>
	</insert>

	<!-- 插入成功返回userid -->
	<insert id="signUpPhone" parameterType="xmu.crms.entity.User">
		insert into user_info(phone,
		password)
		values (#{phone}, #{password})
		<selectKey resultType="java.lang.Integer" keyProperty="user_info.id" order="AFTER">
          select last_insert_id()
        </selectKey>
	</insert>

	<select id="getPasswordByPhone" parameterType="java.lang.String"
		resultType="java.lang.String">
		select password
		from user_info
		where phone = #{phone}
	</select>

	<!-- 解绑只置空手机号 -->
	<update id="unbindTeacherAccount" parameterType="java.math.BigInteger">
		update user_info
		set
		phone="" where id=#{id}
	</update>
	<!-- 解绑只置空手机号 -->
	<update id="unbindStudentAccount" parameterType="java.math.BigInteger">
		update user_info
		set
		phone="" where id=#{id}
	</update>

</mapper>