<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.crms.mapper.SeminarMapper">
	<resultMap id="BaseResultMap" type="xmu.crms.entity.Seminar">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="is_fixed" property="fixed" jdbcType="TINYINT" />
		<result column="start_time" property="startTime" jdbcType="DATE" />
		<result column="end_time" property="endTime" jdbcType="DATE" />
		<association property="course" javaType="xmu.crms.entity.Course">
			<id column="cid" property="id" jdbcType="BIGINT" />
			<result column="cname" property="name" jdbcType="VARCHAR" />
			<result column="start_date" property="startDate" jdbcType="DATE" />
			<result column="end_date" property="endDate" jdbcType="DATE" />
			<result column="cdescription" property="description" jdbcType="VARCHAR" />
			<result column="report_percentage" property="reportPercentage"
				jdbcType="TINYINT" />
			<result column="presentation_percentage" property="presentationPercentage"
				jdbcType="TINYINT" />
			<result column="five_point_percentage" property="fivePointPercentage"
				jdbcType="TINYINT" />
			<result column="four_point_percentage" property="fourPointPercentage"
				jdbcType="TINYINT" />
			<result column="three_point_percentage" property="threePointPercentage"
				jdbcType="TINYINT" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		s.id, s.name, s.description,is_fixed, start_time,
		end_time,
		c.id cid,
		c.name cname,start_date,
		end_date,c.description
		cdescription,report_percentage,
		presentation_percentage,
		five_point_percentage,four_point_percentage,three_point_percentage

		from seminar s,course c
		where c.id=s.course_id
	</sql>
	<resultMap id="CourseMap" type="xmu.crms.entity.Course">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="start_date" property="startDate" jdbcType="DATE" />
		<result column="end_date" property="endDate" jdbcType="DATE" />

		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="report_percentage" property="reportPercentage"
			jdbcType="TINYINT" />
		<result column="presentation_percentage" property="presentationPercentage"
			jdbcType="TINYINT" />
		<result column="five_point_percentage" property="fivePointPercentage"
			jdbcType="TINYINT" />
		<result column="four_point_percentage" property="fourPointPercentage"
			jdbcType="TINYINT" />
		<result column="three_point_percentage" property="threePointPercentage"
			jdbcType="TINYINT" />
		<association property="teacher" javaType="xmu.crms.entity.User">
			<id column="id" property="id" jdbcType="BIGINT" />
			<result column="phone" property="phone" jdbcType="CHAR" />
			<result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
			<result column="openid" property="openid" jdbcType="VARCHAR" />
			<result column="avatar" property="avatar" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="gender" property="gender" jdbcType="BIT" />
			<result column="type" property="type" jdbcType="BIT" />
			<result column="number" property="number" jdbcType="VARCHAR" />
			<result column="education" property="education" jdbcType="BIT" />
			<result column="title" property="title" jdbcType="VARCHAR" />
			<result column="email" property="email" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="CourseList">
		c.id, c.name,start_date,
		end_date,description,report_percentage, presentation_percentage,
		five_point_percentage,four_point_percentage,three_point_percentage,
		u.id, phone,wechat_id, u.openid,avatar,
		password,u.name,gender,type, number, education,title, email
		from course c,user_info u where c.teacher_id=u.id and u.type=1
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.math.BigInteger">
		select
		<include refid="Base_Column_List" />
		and s.id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.math.BigInteger">
		delete from
		seminar
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="xmu.crms.entity.Seminar" useGeneratedKeys="true" keyProperty="id">
		insert into seminar
		<trim prefix="(" suffix=")" suffixOverrides=",">
			
			<if test="name != null">
				name,
			</if>
			
			<if test="description != null">
				description,
			</if>
			<if test="course != null">
				course_id,
			</if>
			<if test="fixed != null">
				is_fixed,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="course != null">
				#{course.id,jdbcType=BIGINT},
			</if>
			<if test="fixed != null">
				#{fixed,jdbcType=TINYINT},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="xmu.crms.entity.Seminar">
		update seminar
		<set>

			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="course != null">
				<if test="course != null">
					course_id = #{course.id,jdbcType=BIGINT},
				</if>
			</if>
			<if test="fixed != null">
				is_fixed = #{fixed,jdbcType=TINYINT},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="listSeminarByCourseId" resultMap="BaseResultMap"
		parameterType="java.math.BigInteger">
		select
		<include refid="Base_Column_List" />
		and course_id = #{courseId,jdbcType=BIGINT}
	</select>
	<delete id="deleteSeminarByCourseId" parameterType="java.math.BigInteger">
		delete from
		seminar
		where course_id = #{courseId,jdbcType=BIGINT}
	</delete>
	<select id="getCourseById" resultMap="CourseMap">
		select
		<include refid="CourseList" />
		and c.id=#{id}
	</select>

</mapper>